@import '../../variables.module';

.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: auto;
  border-radius: 12px;
  font-weight: 700;
  --background: unset;
  --background-activated: unset;
  --background-focused: unset;
  --background-hover: unset;
  --border-radius: 0;
  --padding-top: 2%;
  --padding-bottom: 0;

  div {
    height: fit-content;
  }

  &.icon-btn {
    --background: transparent !important;
    &::part(native) {
      padding: 0;
    }
  }

  &.light {
    background: $primary;
    color: $dark;

    &.ion-activated {
      background: $primary-light;
    }
  }
  &.dark {
    background: $secondary;
    color: $primary;

    &.ion-activated {
      background: $secondary-light;
    }
  }

  &.info {
    background: $secondary-info;
    color: $primary-info;

    &.ion-activated {
      background: $info-light;
    }
  }

  &.transparent {
    background: none;
    color: initial;

    &.ion-activated {
      background: none;
    }
  }
}
