@import '../../../../variables.module';

.MultiField {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline-end: 15px;
  height: 50px;

  &__label {
    width: 40%;
  }

  &__label-error {
    color: $red;
    padding-inline-start: 5px;
  }

  &__fields {
    align-items: center;
    width: 50%;
    display: flex;
    gap: 10px;
  }

  &__input {
    flex-grow: 1;

    .ant-input-number {
      width: 100%;
      border: none;
      background-color: unset;

      &.ant-input-number-focused {
        border: none !important;
        box-shadow: none !important;
      }
    }

    input {
      text-align: center !important;
      font-size: 18px !important;
      color: $white !important;
      padding-inline-start: 12px !important;
      background-color: $x-gray !important;
      border-radius: 8px !important;
      height: 38px;

      &::placeholder {
        color: $easy-gray !important;
      }
    }
  }

  &__select {
    margin-right: -10px;
    min-width: 40%;
    width: 40%;
  }

  &__select-arrow {
    font-size: 22px;
    color: $easy-gray;
  }
}
