@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&family=Mohave:wght@300;400;500;600;700&display=swap');
@import '~sass-text-stroke/_text-stroke';

$s-dark: #2c2c2d;
$dark: #292929;
$x-dark: #1c1c1d;
$primary-green: #d6ff92;
$secondary-green: #4f5a41;
$white: #fefefe;
$easy-gray: #a3a3a3;
$gray: #484848;
$x-gray: #3e3e41;
$hard-gray: #363636;
$danger: #7a2828;
$red: #ff4d4f;
$primary-info: #8CE7F2;
$secondary-info: #345B60;

$main-font: 'Manjari', sans-serif;
$secondary-font: 'Mohave', sans-serif;

$primary: $primary-green;
$secondary: $secondary-green;
$primary-light: rgb($primary-green, 0.5);
$secondary-light: rgb($secondary-green, 0.5);
$secondary-medium-light: rgb($secondary-green, 0.7);
$info-light: rgb($secondary-info, 0.5);

$image-uploader-cell-size: 150px;

:export {
  primaryColor: $primary;
  secondaryColor: $secondary;
  danger: $danger;
  gray: $gray;
  sDark: $s-dark;
}
